{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Game Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Lets Play!</h1>
  <div id="bg-floating-shapes">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
</div>


  <div class="game-container">
    <div class="screen-wrap">
      <div class="screen-label player-1-label">Player 1</div>
      <div class="game-screen player-1">
    <div class="bg-shapes"></div>
    <canvas id="gameCanvas1" width="300" height="600"></canvas>
      </div>
    </div>

    <div class="screen-wrap">
      <div class="screen-label player-2-label">Player 2</div>
      <div class="game-screen player-2">
    <div class="bg-shapes"></div>
    <canvas id="gameCanvas2" width="300" height="600"></canvas>
      </div>
    </div>

    <div class="screen-wrap">
      <div class="screen-label ai-label">AI</div>
      <div class="game-screen ai">
    <div class="bg-shapes"></div>
    <canvas id="gameCanvas3" width="300" height="600"></canvas>
      </div>
    </div>

</div>


  <!-- load Matter, then the game code -->
  <script src="{% static 'js/matter.min.js' %}"></script>
  <script src="{% static 'js/shapes.js' %}"></script>
  <script src="{% static 'js/player_controller.js' %}"></script>
  <script src="{% static 'js/ai_player.js' %}"></script>
  <!-- Append a version query to bust cache during development -->
  <script src="{% static 'js/game.js' %}?v=2"></script>
</body>
</html>