{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title> Game Page</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Lets Play!</h1>
  <div class="game-container">
    <div class="game-screen">
        <canvas id="gameCanvas1" width="300" height="600" style="width:300px; height:600px;"></canvas>
    </div>
    <div class="game-screen">
        <canvas id="gameCanvas2" width="300" height="600" style="width:300px; height:600px;"></canvas>
    </div>
    <div class="game-screen">
        <canvas id="gameCanvas3" width="300" height="600" style="width:300px; height:600px;"></canvas>
    </div>
</div>


  <!-- load Matter, then the game code -->
  <script src="{% static 'js/matter.min.js' %}"></script>
  <script src="{% static 'js/game.js' %}"></script>
</body>
</html>